:root {
    --primary-color: #266efd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* UTILITY CLASSES */
.container {
    max-width: 1960px;
    margin: 0 auto;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.btn {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    color: #fff;
    border: none;
}

.btn-block {
    display: block;
    width: auto;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* HEADER */
#header {
    padding: 2rem 3rem;
    background: #000;
    position: relative;
    color: #fff;
    height: 50vh;
    width: 100%;
}

#header:before {
    content: '';
    background: url('./images/hero-image.png') no-repeat center center / cover;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0.3;
}

#header #navbar {
    z-index: 2;
    position: relative;
}

#header #navbar .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

#header .navbar-container .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header .navbar-container .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #fff;
    margin-left: 1rem;
}

#header .navbar-container .navbar-nav .nav-link:hover{
    background-color: var(--primary-color);
    border-radius: 5px;
}

#header #showcase {
    height: 25vh;
}

#header #showcase .showcase-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

#header #showcase .showcase-container .showcase-content {
    z-index: 2;

}

#header #header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

