:root {
    --primary-color: #266efd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* UTILITY CLASSES */
.container {
    max-width: 1960px;
    margin: 0 auto;
    padding: 2rem 3rem 1rem 3rem;

}

.lead {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.btn {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    color: #fff;
    border: none;
}

.btn-block {
    display: block;
    width: auto;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btn-square {
    font-size: 0.75rem;
    padding: 0.25rem 0.7rem;
}

.text-primary { 
    color: var(--primary-color);
}

.section-head {
    margin-bottom: 1rem;
}

/* HEADER */
#header {
    background: #000;
    position: relative;
    color: #fff;
    height: 50vh;
    width: 100%;
}

#header:before {
    content: '';
    background: url('./images/hero-image.png') no-repeat center center / cover;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0.3;
}

#header #navbar {
    z-index: 2;
    position: relative;
}

#header #navbar .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

#header .navbar-container .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header .navbar-container .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #fff;
    margin-left: 1rem;
}

#header .navbar-container .navbar-nav .nav-link:hover{
    background-color: var(--primary-color);
    border-radius: 5px;
}

/* HEADER SHOWCASE */
#header #showcase {
    height: 25vh;
}

#header #showcase .showcase-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

#header #showcase .showcase-container .showcase-content {
    z-index: 2;

}

#header #header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


/* MAIN */
/* JOB OFFERS SECTION */

#job-offers {
    background: #fff;
    color: #000;
    padding: 1.5rem 0;
}

#job-offers .section-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
    grid-gap: 2rem;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px dotted #ccc;
    padding-right: 2.5rem;
}

.post:last-child {
    border: none;
    padding: 0;
}

.post .post-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.post .post-head .post-time p{
    color: #333;
    font-size: 0.75rem;
}

.post .post-head p{
    font-size: 0.75rem;
}

.post .post-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post .post-body .post-body-content {
    width: 80%;
    font-size: 0.9rem;
    color: #333;
}

.post .post-body .post-read-more {
    align-self: flex-end;
}

/* FEATURED COMPANIES */
#company-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#company-icons .icon {
    margin: 1rem 3rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#company-icons .icon .icon-img  {
    border: 1px dotted #333;
    text-align: center;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
}

#company-icons .icon .icon-text {
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
}